<!DOCTYPE html>
<html>
<head>
	<title>Rosie - Autonomous Hospital Navigation</title>
</head>
<body>
Hello

<img src="../static/map_cropped.png" />

<img src="planets.gif" width="145" height="126" alt="Planets" usemap="#planetmap">

<map name="planetmap">
    <area shape="rect" coords="0,0,82,126" alt="Sun" href="sun.htm">
    <area shape="circle" coords="90,58,3" alt="Mercury" href="mercur.htm">
    <area shape="circle" coords="124,58,8" alt="Venus" href="venus.htm">
</map>
<img src="url/to/your/image.jpg" alt="" usemap="#Map" />
<map name="Map" id="Map">
    <area alt="" title="" href="#" shape="poly" coords="8,86,92,65,103,147,10,163" />
        <area alt="" title="" href="#" shape="poly" coords="15,294,113,261,127,342,27,339" />
            <area alt="" title="" href="#" shape="poly" coords="260,9,415,10,391,83,264,81" />
                <area alt="" title="" href="#" shape="poly" coords="314,219,429,191,428,316,325,325" />
                    [...]
                </map>
</body>
</html>
